@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.sidebar {
    flex: 0 0 250px; 
}
  
/* With  Routes  wrapped by a div with a class of .content-area */
.content-area {
    flex-grow: 1; /* Takes up the remaining space */
    padding: 20px; /* Add padding for spacing */
    overflow-y: auto; /* Allows scrolling if content overflows */
}

.main-container {
    display: flex; /* This is essential for flex-grow to work */
}


.success-message {
    padding: 1rem;
    margin-bottom: 1rem;
    color: #28a745; /* Green color for success messages */
    background-color: #e6f9ec;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
  }
  
  .error-message {
    padding: 1rem;
    margin-bottom: 1rem;
    color: #dc3545; /* Red color for error messages */
    background-color: #f9e6e7;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
  }

