.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #274073; 
    padding: 1rem;
    color: #F2F2F2;
    font-family: 'Poppins', sans-serif;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .search-bar {
    /* Adjust the styles as per your design */
  }
  
  .search-input {
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    margin-right: 1rem; /* Space between search bar and profile icon */
  }
  
  .user-profile {
    position: relative;
    cursor: pointer;
  }
  
  .profile-icon {
    /* Style  profile icon */
  }
  
  .dropdown {
    position: absolute;
    top: 100%; /* Position directly below the profile icon */
    right: 0;
    background-color: #fff; /* Assuming a white background for the dropdown */
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 4px;
    width: 150px; /* Adjust width as needed */
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdown li {
    padding: 8px 12px;
    color: #000; /* Black text for dropdown items */
    cursor: pointer;
  }
  
  .dropdown li:last-child {
    border-bottom: none;
  }
  
  .dropdown li:hover {
    background-color: #f2f2f2; /* Light grey background on hover */
  }