asgiref==3.7.2
contourpy==1.2.0
cycler==0.12.1
Django==5.0.2
django-admin-cli==0.1.1
djangorestframework==3.14.0
fonttools==4.48.1
greenlet==3.0.3
packaging==23.2
pillow==10.2.0
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
six==1.16.0