/* Sidebar.css */
.sidebar {
    width: 250px; /* how fat is the sidebar going to be */
    background-color: #f4f4f4; /* Light grey, */
    padding: 1rem;
    height: 100vh; /* Full height */
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 0.5rem 0;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #333; /* Dark grey */
  }
  
  .compose-button-container {
    margin-bottom: 1rem; /* Spacing between button and the list */
  }
  
  .compose-button {
    display: block;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background-color: #6e48aa; /*  mockup purple color */
    color: white !important;
    text-align: center;
    border-radius: 4px;
    text-decoration: none; /* Removes underline from link */
    font-weight: bold; 
  }
  
  .compose-button:hover {
    background-color: #5A3AD9; /* A slightly lighter purple for hover effect */
    color: #FFFFFF
    
  }
  