/* EmailDetail.css */
.login-bg {
  background: linear-gradient(39deg, rgba(75,97,166,1) 0%, rgba(62,72,102,1) 50%, rgba(111,133,201,1) 100%);
  height: 100vh;
}
.login-con {
    padding: 1rem;
    border-radius: 18px;
    width: 20%;
    background: #8091F2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
.login-con h1{ 
    text-align: center;
    margin-bottom: 1rem;
    color: #274073;
    font-size: x-large;
  }
  .login-con h2{
    font-size: medium;
  }
  .line-top {
    margin-bottom: 25px;
    border-bottom: 1px solid rgb(255, 255, 255); /* Crea una línea horizontal de 1 píxel de grosor y color negro */
  }
  .line-bottom {

    margin-top: 25px;
    border-bottom: 1px solid rgb(255, 255, 255); /* Crea una línea horizontal de 1 píxel de grosor y color negro */
  }
