name: QA_main

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened] # For the pull request sonarcloud decorators

jobs:
  qa-main-code-front:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      security-events: write  # This permission is added for SonarCloud analysis

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones  disabled for SonarCloud compatibility

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16' # Specify the Node.js version you need

      - name: Install dependencies
        run: npm install
        working-directory: ./EmailFrontend

      - name: Run tests
        run: npm test -- --coverage
        working-directory: ./EmailFrontend

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get Pull Request information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: EmailFrontend/
          
  qa-main-code-back:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      security-events: write  # This permission is added for SonarCloud analysis

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones  disabled for SonarCloud compatibility

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: EmailBackend/
          args: >
                -Dsonar.projectKey=Valwolfor_EmailServer
                -Dsonar.organization=valwolfor-sonar
  
